.navbar-brand {
	transition: opacity 0.3s;
}

.navbar-brand:hover {
	opacity:0.5;
}

html {
}


body {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	color:white;
	background-color: #0080B5; 

}

.img-thumbnail {
	padding: 0;
	border: 0 none;
	height: 30vh;
}
#nimbus {
	
	padding-top: 23%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}

#nimbus-container {
	background-image: url("https://source.unsplash.com/9AqIdzEc9pY"), url(images/chuttersnap-553852-unsplash.jpg); 
  	background-color: #cccccc; 
  	background-position: center; 
 	background-size: cover; 
 	background-repeat: no-repeat;
 	height:100vh;
 	color: black;

}

ul {

	padding-top: 1vh;

}

hr {
	border-top: 2px solid black;
}
.h2-hr {
	border-top: 2px solid white;
	width: 50%;
	margin-left: 0px;
}


.row {
	padding-top: 3vh;
}

h1 {
	font-size: 5em;
	font-weight: 700;
}

h2 {
	padding-top: 70px;
}

section {

	
}

#footer-div{
	text-align: center;
	width:100%;
	padding-top: 15vh;

}



a{
	color:white;
}

a:hover {
	opacity: 0.5;
	color:white;

}

footer a {
	color:black;
	opacity: 0.5;
	transition: opacity 0.5s;
}

footer a:hover {
	color:black;
	opacity: 1;
}

footer p {
	padding-top: 2vh;
}

.img-thumbnail {
	border-radius: 0px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0vh 0vh;
    background-color: #01597f;
    border: 0px none;
    border-radius: 0.5rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #006c9b;
} 

/* Sparer dette til vi eventuelt har profilsider

/*.card img {
	filter:grayscale(100%);
	transition: 1s;
}

.card img:hover {
	filter:grayscale(0%);
}*/

div.card div {
	padding-left: 1vh;
	padding-bottom: 1vh;
}

div.card div h5 {
	padding-top: 1vh;
	font-size: 1.05rem;
	font-weight: 700;
}


@media (max-width: 600px){ 
.img-thumbnail {
	height: 40vh;




	} 
.card {
	margin-bottom: 10%;
	
}


#gruppa div .col-sm-12{
	width: 70%;
	left: 15%;
}
}

#kontaktinformasjon {
	text-align: center;
	margin-top: 10vh;
}

header {
	margin: 5vh;
	width: 40%;
	margin: auto;
	background-color: #01597f;
	padding-top: 3vh;
	padding-bottom: 1vh;
	border-radius: 1rem;
	box-shadow: 0px 8px 8px 0 rgba(0,0,0,0.2);


}

header hr {
	border-top: 2px solid white;
	width: 50%;
}

header h5 {
	padding:  3vh 0vh;

}





