.navbar
        {
            border-bottom: 2px solid #eaedf2;
            background-color: white;
        }

.nav-link {
	color: #000000;
	font-weight: 500;
	
}

.navbar-brand {
	transition: opacity 0.5s;
}

.navbar-brand:hover {
	opacity:0.5;
}

.hero-image {
	padding-top: 15vh;
  background-image: url("images/alex-machado-435966-unsplash.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#hvem-er-vi {
	
	padding-top: 3vh;
}

ul {

	padding-top: 1vh;

}

a.navbar-brand {
	margin-left: 15%;
	color:	#000000;
	font-weight: 500;
}

#navbarsExampleDefault {
	max-width: 70%;
}

.bg-light {
	background-color: #FFFFFF;
}


#banner-text {
	text-align: center;
    position: relative;
    display:inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#h1-banner {
	font-size: 100px;
	
}

.container {
	padding-top: 3vh;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	opacity: 0.8;
	transition: opacity 1s ease-out;
}

h1:hover {

	opacity: 0.2;

}

body {
	padding-top:60px;
}


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}


#footer-div{
	text-align: center;
	padding-top: 10vh;
	margin: auto;
	width: 100%;

}

footer a {
	color:black;
	transition: opacity 0.5s;
}

footer a:hover {
	color:black;
	opacity: 0.5;
}

footer p {
	padding-top: 2vh;
}







