.navbar-brand {
	transition: opacity 0.3s;
}

.navbar-brand:hover {
	opacity:0.5;
}

html {
	box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	color:white;
	background-color: #0080B5; 

}

.img-thumbnail {
	padding: 0;
	border: 0 none;
	
}
#nimbus {
	
	padding-top: 23%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}

#nimbus-container {
	background-image: url("https://source.unsplash.com/9AqIdzEc9pY"), url(images/chuttersnap-553852-unsplash.jpg); 
  	background-color: #cccccc; 
  	background-position: center; 
 	background-size: cover; 
 	background-repeat: no-repeat;
 	height:100vh;
 	color: black;

}

ul {

	padding-top: 1vh;

}

hr {
	border-top: 2px solid black;
}
.h2-hr {
	border-top: 2px solid white;
	width: 50%;
	margin-left: 0px;
}


.row {
	padding-top: 3vh;
}

h1 {
	font-size: 5em;
	font-weight: 700;
}

h2 {
	padding-top: 70px;
}

#footer-div{
	text-align: center;
	width:100%;
	padding-top: 15%;

}


footer a {
	color:black;
	opacity: 0.5;
	transition: opacity 0.5s;
}

footer a:hover {
	color:black;
	opacity: 1;
}

footer p {
	padding-top: 2vh;
}

.img-thumbnail {
	border-radius: 0px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0vh 0vh;
    background-color: #01597f;
    border: 0px none;
    border-radius: 0.5rem;
}
.card p {
	color: white;
}
.card a:hover{
	text-decoration: none;
}

.card h5 {
	color: white;
}



.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #006c9b;
} 


div.card div {
	padding-left: 1vh;
	padding-bottom: 1vh;
}

.title {
	margin: auto;
}



div.card div h5 {
	padding-top: 1vh;
	font-size: 1.05rem;
	font-weight: 700;
}

#kontaktinformasjon {
	text-align: center;
	margin-top: 10vh;
}

header {
	margin: 5vh;
	width: 60%;
	margin: auto;
	background-color: #01597f;
	padding-top: 3vh;
	padding-bottom: 1vh;
	border-radius: 1rem;
	box-shadow: 0px 8px 8px 0 rgba(0,0,0,0.2);


}

header hr {
	border-top: 2px solid white;
	width: 50%;
}

header h5 {
	padding:  3vh 0vh;

}

@media (max-width: 767px){
	header{
		width: 100%;
	}
}

.wrapper{
	max-width: 70%;
	margin: 100px auto;
	height: 100%;
	
	
}

.profile-grid .grid-profile-picture {
	width: 33.33%;
	float: left;
	
}

.profile-grid:after {
	display: table;
	clear: both;
	content: '';
  }

.profile-picture {
	max-width: 100%;
	height: auto;
	border-radius: 2%;
}

.profile-grid .grid-profile-description {
	width: 66.66%;
	padding-left: 3%;
	float: left;
}

.profile-grid .grid-profile-description h3 {
	font-weight: 700;
}

.profile-grid .grid-profile-description p:first-of-type {
	margin-bottom: 0;
}

.profile-grid .grid-profile-description #email {
	margin-bottom: 5%;
}

.grid-profile-description .fa-mobile-alt {
	margin-right: 1.7%;
}

.grid-profile-description .fa-envelope {
	margin-right: 1%;
}


.profile-grid .grid-profile-description p:last-of-type {
	margin-bottom: 10%;
}

.grid-profile-description a {
	
	color: white;
}

.grid-profile-description span {
	font-weight: 700;
}


.grid-profile-description a:hover {
	color: white;
	
}

.grid-profile-description a button {
	color: white;
	border-radius: 5%;
	border: 0 none;
	background-color: #01597f;
	transition: 0.5s ease;
	letter-spacing: 1px;
	padding: 8px 6px;
	
}

.grid-profile-description a button:hover {
	
	background-color: #00488b;
	cursor: pointer;
}

.grid-profile-description h3{
	margin-bottom: 0
}

.grid-profile-description hr {
	border: 1px solid white;
	width: 50%;
	margin: 0;
	margin-bottom: 1%;
}



@media (max-width: 1200px) {

	.wrapper {
		max-width: 80%;
		
	}
	.profile-grid .grid-profile-picture {
		width: 40%;
		
	}

	.profile-grid .grid-profile-description {
		
		width: 59.99%
		
	}

	#footer-div{
		padding-top: 30%;
	}

}

@media (max-width: 700px) {

	.wrapper {
		max-width: 100%;
		margin-top: 55px;
	}
	.profile-grid .grid-profile-picture {
		width: 100%;
		
	}

	.profile-grid .grid-profile-description {
		padding: 2% 2%;
		width: 100%
		
	}

	#footer-div{
		padding-top: 15%;
	}

}








