<% include partials/header.ejs %>

<div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src="./images/emilr.jpg"  alt="Emil">
                    </div>
                    <div class="grid-profile-description">
                        <h3>Emil Morønning Ruud</h3>
                        <hr>
                        <h5>Back-end</h5>
                        <p id="email"><i class="far fa-envelope"></i>emil@nimbusuia.cloud</p>

                        <p><span>Emil</span> Morønning Ruud er en 22 år gammel gutt fra Strømmen. Han studerte ett år på dataingeniør ved UiA i Grimstad før han byttet til IT og Informasjonssystemer i Kristiansand. I Grimstad lærte han mye om programmering i forbindelse med microcontroller (Assembly og litt C) og funksjonsbasert Java. Emil har stor interesse for vanskeligere utviklingsprosjekter som krever stor grad av innsikt og (gjerne) kreativ tenkning. Innenfor systemutvikling er han mest interessert i back-end programmering, hacking og scripting, men har ingenting imot oppgaver som krever mer administrativt arbeid. Etter bacheloren er han mest klar for å skaffe seg jobb - enten som utvikler eller konsulent. Dette er for å få en god porsjon erfaring innenfor IT-bransjen før han eventuelt tar en master (hvor informasjonssystemsikkerhet vil være mest aktuelt).
                        </p> 
                        <p>Emil har jobbet mest innenfor yrker som omfatter salg og service; både fra butikk og restaurantbransjen. Ved siden av studiene jobber han som salgsmedarbeider for Brilleland AS og barista/servitør for Lasse Liten (mest i ferier). På fritiden bruker han mye tid på musikk (spiller el-gitar, bass og litt piano) og matlaging.
                        </p>

                        <a href=""><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
        
<% include partials/footer.ejs %>