<% include partials/header.ejs %>
    <section id="nimbus-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="nimbus">
                    <h1>Nimbus</h1>
                    <h3>/ˈnɪmbəs/ a luminous cloud or a halo surrounding a supernatural being or a saint</h3>
                    <hr>
                    <a href="#om-oss"><button type="button" class="btn btn-dark btn-lg">Om oss</button></a>

                <a href="#gruppa"><button type="button" class="btn btn-dark btn-lg">Medlemmer</button></a>

                <a href="#kontaktinformasjon"><button type="button" class="btn btn-dark btn-lg">Kontakt oss</button></a>

                </div>
            </div>
        </div>
    </div>
    </section>
    <section>
    <div id="om-oss" class=container>
    	<div class=row>
    	<div class="col-12">
    		<h2>Om oss</h2>

    			<p>
                    Vi er en gruppe på 7 som studerer IT og informasjonssystemer ved Universitetet i Agder. Vi kommer fra ulike deler av landet, fra Nord til Sør. Siden skolestart i 2016 har vi jobbet sammen i forbindelse med gruppearbeid i ulike fag. Vi er en hardtarbeidende gjeng som tar en utfordring på strak arm. Vi er alle grundige, og interessert i vårt arbeid. 
                </p> 
                <p>
                    Vi har alle våre sterke sider som gjør det å jobbe sammen i en gruppe mye mer effektivt. Vi er veldig opptatt av å lære bort kunnskap til andre for å få et bedre resultat. I løpet av studietiden har vi fordypet oss i flere forskjellige emner. Deler av oss har valgt å fokusere på tekniske emner, mens andre har valgt en mer teoretisk retning. 
                    Dette gir oss muligheten til å ta fatt på utfordringer med flere forskjellige perspektiver.
                        
                    Vi deler alle interesser innen utdanning og fritid. Vi er alle interessert i teknologi, data og utvikling, gaming, musikk og uteliv. På fritiden er vi alle på samme bølgelengde sosialt og finner ukentlig på ulike aktiviteter. 
                </p>
    			<h3>Hva vi ser etter</h3>
    			<p>		
                        Vi ønsker oss et variert og utfordrende prosjekt, hvor vi har muligheten til å vise vår kunnskap og tilegne oss nye erfaringer. Samtidig så ønsker vi en arbeidsgiver som vi kan ha god kommunikasjon med gjennom hele prosessen. God oppfølging og feedback er noe som motiverer oss til å gjøre en bedre jobb. Vi ser etter et prosjekt som kan gi oss variert arbeid og som føles meningsfylt. Gode rutiner er viktig for oss, og vi hadde satt stor pris på om oppdragsgiver hadde hatt muligheten til å stille med en samlingsplass for prosjektarbeidet.

                        Krever prosjektet at vi lærer oss nye rammeverk eller programmeringsspråk gjør vi gjerne det, ettersom vi har et ønske om å oppnå enda bredere kompetanse.
                        
    			</p>

    		</div>
		</div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3>Programvare vi har jobbet med</h3>
                    <ul>
                        <li>Linux </li>
                        <li>Wireshark</li>
                        <li>Active Directory</li>
                        <li>Git</li>
                        <li>CMS som Wix og WordPress </li>
                        <li>Utviklingsmiljøer som IntelliJ, PyCharm, Eclipse, etc.</li>
                        <li>Oracle SQL Developer</li>
                        <li>MySQL Workbench</li>
                    </ul>
                    
                    
            </div>
                <div class="col-sm-12 col-md-6">
                	<h3>Programmeringspråk og rammeverk</h3>
                	
                    <ul>
                        <li>Java</li>
                        <li>Spring</li>
                        <li>JPA og Hibernate</li>
                        <li>Maven</li>
                        <li>MySQL</li>
                        <li>PL/SQL</li>
                        <li>Python</li>
                        <li>Bash scripting</li>
                        <li>Golang</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                        <li>Javascript</li>
                    </ul> 
                </div>
            </div>           
        </div>
        </section>

    
        
        <!--Profilkort-->
        
        <section id="medlemmer">
        <div id="gruppa" class="container">
            
                <h2>Medlemmene i bachelorprosjektet</h2>

                
            <!--1. rad-->

            <div class="row">
                <!--1. kolonne-->
                
                <div class="col-sm-4 col-md-4 card">
                    <a href="/medlemmer/vebjørn-nordby">
                    <img class="img-thumbnail" src="https://res.cloudinary.com/drtrlhfnm/image/upload/v1539199090/vebjornn.jpg" alt="Vebjorn">
                    
                        <div>
                        <h5>Vebjørn Nordby</h5>
                        <!--Ekspertiseområde-->
                        <p class="title">Front-end</p>
                    </div>
                    </a>
                    </div>
               
                
                
                <div class="col-sm-4 col-md-4 card">
                        <a href="/medlemmer/nikolai-holmen-dyb">
                        <img class="img-thumbnail" src="https://res.cloudinary.com/drtrlhfnm/image/upload/v1539202467/nikolaid.jpg"  alt="Nikolai">
                        
                        
                        <!--Ekspertiseområde-->
                        <div>
                        <h5>Nikolai Holmen Dyb</h5>
                        <p class="title">Kontaktperson</p> 

                        </div>
                    </a>
                    </div>
                
                <div class="col-sm-4 col-md-4 card" id="medlemmer">
                    <a href="/medlemmer/nils-bjerk">
                    <img class="img-thumbnail" src="https://res.cloudinary.com/drtrlhfnm/image/upload/v1539202467/nilsb.jpg" alt="Nils">
                   
                        <!--Ekspertiseområde-->
                        <div>
                        <h5>Nils Fredrik Iselvmo Bjerk</h5>
                        
                        <p class="title">Teknisk ansvarlig</p>
                    </div>
                    </a>

                </div>
                    
            </div>
              

              
          
                <div class="row">
                
                <div class="col-sm-4 col-md-4 card">
                        <a href="/medlemmer/emil-ruud">
                        <img class= "img-thumbnail" src="https://res.cloudinary.com/drtrlhfnm/image/upload/v1539202467/emilr.jpg" alt="Emil">
                        <div>
                            <h5>Emil Morønning Ruud</h5>
                            <!--Ekspertiseområde-->
                            <p class="title">Back-end</p>
                            
                            
                            </div>
                        </a>
                        </div>
              

                    <div class="col-sm-4 col-md-4 card">
                        <a href="/medlemmer/marius-norli">
                        <img class= "img-thumbnail" src="https://res.cloudinary.com/drtrlhfnm/image/upload/v1539202467/mariusn.jpg" alt="Marius">
                        <div>
                            <h5>Marius Norli</h5>
                            <!--Ekspertiseområde-->
                            <p class="title">Scrum Master</p>
                            
                        </div>
                    </a>
                    </div>
                    
                    <div class="col-sm-4 col-md-4 card">
                        <a href="/medlemmer/simen-fredriksen">
                        <img class= "img-thumbnail" src="https://res.cloudinary.com/drtrlhfnm/image/upload/v1539202467/simenf.jpg" alt="Simen">
                        <div>
                            <h5>Simen Fredrik Brunvand Fredriksen</h5>
                            <!--Ekspertiseområde-->
                            <p class="title">Rapport-ansvarlig</p>
                            
                        </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                
                     <div class="col-sm-4 col-md-4 card">
                         <a href="/medlemmer/mats-skjaervik">
                            <img class= "img-thumbnail " src="https://res.cloudinary.com/drtrlhfnm/image/upload/v1539202467/matss.jpg" alt="Mats">
                            <div>
                                <h5>Mats Skjærvik</h5>
                                <!--Ekspertiseområde-->
                                <p class="title">Teknisk ansvarlig</p>
                                
                            </div>
                        </a>
                        </div>
                </div> 
            </div>
            

            <div id="kontaktinformasjon" class="section">
                    <div class="col-md-12">
                        <header>
                            <h3>Vi kan hjelpe deg med ditt prosjekt</h3>
                            

                            <h5>Vi er fremdeles på utkikk etter bachelorprosjekt</h5>
                            <p>Spørsmål eller henvendelser kan sendes til:<br>
                                nikolai@nimbusuia.cloud</p>
                           
                        </header>
                    </div>
                </div>
            </section

    <% include partials/footer.ejs %>