<% include partials/header.ejs %>
        <div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src="/images/mariusn.jpg"  alt="Marius">
                    </div>
                    <div class="grid-profile-description">
                        <h3>Marius Norli</h3>
                        <hr>
                        <h5>Scrum Master</h5>
                        <p id="email"><i class="far fa-envelope"></i>marius@nimbusuia.cloud</p>

                        <p><span>Marius</span> er en 23 år gammel kar fra Hønefoss som for tiden studerer ved Universitetet i Agder. Fra tidligere har han et fagbrev innenfor IKT-Servicefag fra Hole Kommune, og har dessuten erfaring som selger fra både Clas Ohlson og Kjell & Company, hvor han for tiden jobber ved siden av studiene.
                        </p> 
                        <p>Marius har en bakgrunn fra drift, men er også interessert i utvikling, spesielt back-end løsninger. Ellers er han også glad i organisatorisk arbeid og prosjektstyring og har ofte fungert som gruppeleder under studiet. Når bachelorstudiet omsider tar slutt er planene å skaffe seg en jobb i konsulentbransjen. På den lille fritiden som er igjen etter jobb og studier bruker han mesteparten av sin tid på trening, film og spill, samt interesser som klokker og musikk.
                        </p>

                        <a href="https://www.linkedin.com/in/mariusnorli" target="_blank"><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
<% include partials/footer.ejs %>