 <% include partials/header.ejs %>
 <div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src="/images/matss.jpg"  alt="Mats">
                    </div>
                    <div class="grid-profile-description">
                        <h3>Mats Eide Skjærvik</h3>
                        <hr>
                        <h5>Teknisk ansvarlig</h5>
                        <p id="email"><i class="far fa-envelope"></i>mats@nimbusuia.cloud</p>

                        <p><span>Mats</span> Eide Skjærvik er 24 år og kommer fra Trondheim. Selv om Mats er en trønder som ikke kan gro bart, så har han andre gode kvaliteter. Han tar for tiden en bachelorgrad i IT og informasjonssystemer ved Universitetet i Agder. Mats liker å jobbe med varierte arbeidsoppgaver der han får utfordret seg selv og samarbeidet med andre.
                        </p> 
                        <p>Han har alltid hatt en interesse for teknologi, og gjennom utdanningen har han fått en spesiell interesse for back-end og front-end programmering. Mye av fritiden går i å være sosial, enten det er dataspill, trening eller fester. Etter bachelorgraden er fullført er hans ønske å gå videre på en master. 
                        </p>

                        <a href="https://www.linkedin.com/in/mats-skj%C3%A6rvik-a86a5015b/" target="_blank"><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
<% include partials/footer.ejs %>