<% include partials/header.ejs %>


     <div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src="/images/vebjornn.jpg"  alt="Vebjørn">
                    </div>
                    <div class="grid-profile-description">
                        <h3>
                        <%= member.firstName + " " + member.lastName%>
                        </h3>
                        <hr>
                        <h5><%= member.role %></h5>
                        <p><i class="fas fa-mobile-alt"></i>93247666</p>
                        <p id="email"><i class="far fa-envelope"></i>vebjorn@nimbusuia.cloud</p>
                        
                        <% member.about.forEach(function(about){%>
                            <p><%= about %></p>
                        <% }) %>

                        <a href="https://www.linkedin.com/in/vebnor/" target="_blank"><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
       
<% include partials/footer.ejs %>