<% include partials/header.ejs %>
 <div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src="/images/nikolaid.jpg"  alt="Nikolai">
                    </div>
                    <div class="grid-profile-description">
                        <h3>Nikolai Holmen Dyb</h3>
                        <hr>
                        <h5>Konktaktperson</h5>
                        <p><i class="fas fa-mobile-alt"></i>46421431</p>
                        <p id="email"><i class="far fa-envelope"></i>nikolai@nimbusuia.cloud</p>

                        <p><b>Nikolai</b>, eller Nikko som vi kaller han, er en 25 år gammel kar fra Ålesund, nærmere bestemt Godøya. 
                            Han studerer en bachelorgrad i IT og informasjonssystemer ved Universitetet i Agder. I dag jobber Nikolai som kundeansvarlig i Telenor kundeservice.
                        </p> 
                        <p>Han er aktivt medlem i studentorganisasjonen Start UIA som fremmer innovasjon og entreprenørskap. 
                            Nikolai har tidligere jobbet gjennom Start UIA som økonomiansvarlig i Venture Cup, nordens største forretningside konkurranse.
                            Etter studiet vil Nikolai helst finne seg en jobb i It bransjen, men utelukker heller ikke å fortsette på en Mastergrad. 
                            Ellers er han en jovial fyr med mange rare utsagn med sin sjarmerende dialekt.
                        </p>

                        <a href="https://www.linkedin.com/in/nikolaidyb/" target="_blank"><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
<% include partials/footer.ejs %>       