<% include partials/header.ejs %>
<div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src="/images/nilsb.jpg"  alt="Nils">
                    </div>
                    <div class="grid-profile-description">
                        <h3>Nils Fredrik Iselvmo Bjerk</h3>
                        <hr>
                        <h5>Teknisk ansvarlig</h5>
                        <p id="email"><i class="far fa-envelope"></i>nils@nimbusuia.cloud</p>

                        <p><span>Nils</span> Fredrik Iselvmo Bjerk er en 23 år gammel livlig kar fra Rundhaug. Han studerer for tiden bachelor i IT og informasjonssystemer ved UIA. Nils har alltid hatt en stor lidenskap for data, og har iløpet av studietiden utdypet sine tekniske kunnskaper innenfor programmering. På studiet foretrekker han de tekniske fagene med back-end programmering, men har også syslet litt med front-end på fritiden.
                        </p> 
                        <p>Nils er utadvendt, morsom og tar utfordringer med et smil. På fritiden er han svært aktiv med trening og det som hører med, samt dataspill, musikk, film og ski. Etter endt bachelor prosjekt er planen og ta steget ut i arbeidslivet, men utelukker ikke muligheten for å spe på sin kunnskap med en mastergrad etterhvert.
                        </p>

                        <a href="https://www.linkedin.com/in/nils-fredrik-iselvmo-bjerk-7a4089142/" target="_blank"><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
<% include partials/footer.ejs %>