<% include partials/header.ejs %>
<div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src="/images/simenf.jpg"  alt="Simen">
                    </div>
                    <div class="grid-profile-description">
                        <h3>Simen Fredrik Brunvand Fredriksen</h3>
                        <hr>
                        <h5>Rapport-ansvarlig</h5>
                        <p id="email"><i class="far fa-envelope"></i>simen@nimbusuia.cloud</p>

                        <p><span>Simen</span>  Fredrik Brunvand Fredriksen er en 23 år gammel gutt fra Holmestrand som studerer til en bachelorgrad i IT og informasjonssystemer. Etter endt studie, planlegger han å ta en mastergrad i informasjonssystemer.
                        </p> 
                        <p>Simen er glad i å samarbeide med andre mennesker for å komme frem til løsninger på oppgaver. Noe han har erfaring med både fra studiet og fra sitt år som militærpoliti. Fritiden hans går med til trening, sport og spill. Simen er gjengens kjæledegge, øynene til alle de andre i gruppen lyser opp når han kommer inn i rommet.
                        </p>

                        <a href="https://www.linkedin.com/in/simen-fredrik-brunvand-fredriksen-59aa87151/" target="_blank"><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
<% include partials/footer.ejs %>