<% include partials/header.ejs %>


     <div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src="/images/vebjornn.jpg"  alt="Vebjørn">
                    </div>
                    <div class="grid-profile-description">
                        <h3>Vebjørn Nordby</h3>
                        <hr>
                        <h5>Front-end</h5>
                        <p><i class="fas fa-mobile-alt"></i>93247666</p>
                        <p id="email"><i class="far fa-envelope"></i>vebjorn@nimbusuia.cloud</p>

                        <p><span>Vebjørn</span> er 24 år gammel og kommer fra Årnes. Siden ingen vet hvor Årnes er, så må han som regel forklare at dette er en plass som er i nærheten av Gardermoen. Vebjørn hadde i utgangspunktet lyst til å jobbe med drift da han begynte på studiet, men fant fort ut at utvikling var mer interessant. På studiet foretrekker han de tekniske fagene, og trives både med front-end og back-end når det kommer til utvikling og holder til stadighet på med ett eller annet Udemy-kurs. 
                        </p> 
                        <p>Han har erfaring som selger hos Kjell & Company, hvor han har jobbet siden de etablerte seg i Norge i 2015. Her har han fått utvikle seg innen områder som kundemøte og behovsanalyse. Etter bachelorgraden er fullført har han planer om å ta steget ut i arbeidslivet og har et ønske om å jobbe som utvikler/konsulent.
                        </p>

                        <a href="https://www.linkedin.com/in/vebnor/" target="_blank"><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
       
<% include partials/footer.ejs %>